.bg-light {
    background-color: map-get($colors, grey) !important;
}
.btn {
    cursor: pointer !important;
}
.btn-primary {
    background-color: map-get($colors, black);
    border-color: map-get($colors, black);
    font-family: "brevia", sans-serif;
    font-style: italic;
    font-weight: 500;
    transition: all .7s;
}

.btn-primary:hover {
    background-color: map-get($colors, black);
    border-color: map-get($colors, pink);
    color: $pink;
}

.btn-primary:disabled {
    background-color: map-get($colors, black);
    border-color: map-get($colors, black);
    color: $white;
}

.btn-link {
    color: map-get($colors, pink);
    text-decoration: none;
}
.btn-link:hover {
    color: map-get($colors, black);
}

.navbar-dark .btn-link:hover {
    color: map-get($colors, grey);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-light.bg-light {
    background-color: map-get($colors, grey) !important;
}

.nav-link {
    color: map-get($colors, pink);
    font-family: "brevia-regular", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.border-top,
.border-top.border-primary,
.border-bottom.border-primary {
    border-color: map-get($colors, pink) !important;
}
.form-text,
label,
.form-lable {
    font-family: "brevia-regular", sans-serif;
}
.form-check.checkbox-lg > .form-check-input {
    height: 25px;
    margin-right: 10px;
    width: 25px;
}
.copyright {
    color: map-get($colors, pink);
    font-family: "ice-cream-slant", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}
.iconOverride {
    color: map-get($colors, pink);
    cursor: pointer;
}
h1, .h1 {
    font-size: 2.5em;
    font-family: "ice-cream-slant", sans-serif !important;
    margin-bottom: 2rem !important;
}